---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <h1 class="text-white text-5xl font-bold justify-center flex-row">
        Hola, mi nombre es Héctor Miguel Guerrero <div
          class="flex justify-center items-center"
        >
          <Badge> Disponible para Trabajar </Badge>
        </div>
      </h1>
      <h2>
        2 años de experiencia. Desarrollador web y creador de contenido para
        redes. De Fresnillo, Mexico. Me especializo en el ambito web.
      </h2>

      <ul></ul>
    </section>
  </main>
</Layout>
