---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="">
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <img
        class="rounded-full w-16 h-16 mb-5"
        src="../public/mio.jpg"
        alt="Inserte Logo"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hola, soy Héctor<a
          href="https://www.linkedin.com/in/hmgs676"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center gap-x-4"
        >
          <Badge> Disponible para Trabajar </Badge>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap">
        <span class="text-green-300">2 años de experiencia.</span><span
          class="text-gray-300 opacity-85"
        >
          Desarrollador web y creador de contenido para redes. De Fresnillo
          Zacatecas, Mexico. Me especializo en el ambito web.</span
        >
      </h2>

      <ul></ul>
    </section>
  </main>
</Layout>
